@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
        
:root {
    --black:#000000;
    --white: #FFFFFF;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --dark: #232830;
    --hospital-green: #ACD9B2;
    --shop-yellow:#f1ec40;
    --small: 14px;
    --medium: 16px;
    --large: 18px;
}


        * {
            margin: 0px;
            padding: 0px;
            border: 0px;
        }

        body {
            background: black;
            font-family: 'Poppins', sans-serif;
        }

        #all {
            display: flex;
            flex-direction: column;
            padding: 0px;
            margin: 0px;
        }

        
        

        .about {
            background: rgb(32,123,237);
            height: 100vh;
            display: flex;
            flex-direction: column;
            overflow: auto;

            
        }

        nav{
            display: flex;
            width: 100%;
            height: 60px;
            justify-content: space-between;
            padding:10px;
            box-sizing: border-box;
            border-bottom: 1px solid var(--very-light-pink);
            background: rgb(19, 25, 33) ;
            z-index: 10;
            
        }


        .navbar-left ul {
            list-style: none;
            padding: 0;
            margin: 0px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            font-weight: bolder;
           
            
        }
        
        .navbar-left a {
            
            box-sizing: border-box; /* add this line */
        }
        
        
        
        .navbar-left {
            display: flex;
            text-decoration: none;
            align-items: center;
        }
        
        .navbar-left ul {
            
            margin-left: 30px;
            font-size: 18px;
        }

        .navbar-left div {
            display: flex;
            align-items: center;
        }
        
        .navbar-left ul li a {
            text-decoration: none;
            color: var(--very-light-pink);
            border: 1px solid rgba(255, 255, 255, 0);
            padding: 10px;
            border-radius: 8px;
            
            text-shadow: 0.5px 0.5px 0px black;
        }
        
        .navbar-left a:hover {
            text-decoration: none;
            color: var(--shop-yellow);
            border: 1px solid var(--shop-yellow);
            border-radius: 8px;
            font-weight: bolder;
            text-shadow: 1px 1px 2px black;
            box-sizing: border-box;
            transition: all 0.2s ease-in-out;
        }

        #knocking-Logo {
            width: 100px;
            height: 23px;
            object-fit:cover;
            background: white;
            padding: 5px;
            border-radius: 30px;
            object-fit:contain;
            justify-self: center;
            box-shadow: 1px 1px 20px rgb(32,123,237);

        }
        
        

/** ---------------------------------* FIN NAV BAR * */

               .afterHeaderContainer {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            justify-content: center;
            align-items: center;
            

        }

        .afterHeader {
            display: flex;
            margin: 10px 5px 0px 5px;
            height: 150px;
            border-radius: 40px;
            flex-direction: row;
            align-items: center;
            margin-inline: 20px;
            
        }

        .left-news{
            color: white;
            display: flex;
            flex-direction: column;
            background:rgb(16, 79, 156);
            border-radius: 15px;
            height: 140px;
            width: 400px;
            margin-inline: 20px;
            align-items: center;
            justify-content: center;
        }

        .left-news h1 {        
            margin-top: -20px;
        }

        .search-bar{
            height: 30px;
            width: 300px;
            border: none;
            box-sizing: border-box;
            align-items: center;
            background-color: var(--white);
            border-radius: 40px 40px 40px 40px;
            padding: 0px 4px 0px 16px;
            margin-left: 0px;
            /* flex: 1 1 1e-9px; */
            display: flex;
            flex-direction: row;

        }

        .search-bar [type=text] {
            padding: 10px 20px;
            cursor: pointer;
            margin-left: 20px !important;
        }


        .hot-news {
            background:rgb(16, 79, 156);
            border-radius: 15px;
            
        }

        .right-news {
            color: white;
            display: flex;
            flex-direction: column;
            background:rgb(16, 79, 156);
            border-radius: 15px;
            height: 140px;
            width: 400px;
            margin-inline: 20px;
            align-items: center;
    justify-content: center;
        }

        

        #night {
            width: 100px;
            height: 40px;
            align-self: center;
            background: white;
            margin-left:30px;
            border-radius: 30px;
            cursor:pointer;
            box-shadow: 1px 1px 20px rgb(32,123,237);
            
        }

        #night:active {
            box-shadow: 0px 0px 0px black;
            transform: translate(3px, 3px);
        }

        .extrasnav {
            width: 100px;
            height: 40px;
            align-self: center;
            background: white;
            margin-left:30px;
            border-radius: 30px;
            cursor:pointer;
            box-shadow: 1px 1px 20px rgb(32,123,237);
            
        }

        .extrasnav:active {
            box-shadow: 0px 0px 0px black;
            transform: translate(3px, 3px);
        }

        
/* -------------------MID------------------------- */
        
        .brands-card {
            height: 100vh;
            width: 100%;            
            box-shadow: 1px 1px 5px;
            align-items: center;
            box-sizing: border-box;
            background: rgb(16, 79, 156);
            color: white;
            overflow: hidden;
        }
        .brands-card h1 {
            font-size: 45px;
                        
        }

        .brands-card img {
            width: 110px;
            height: 45px;
            object-fit: contain;
            padding: 5px;
            border: solid 1px rgb(255, 255, 255);
            border-radius: 15px;
            background: rgb(117, 159, 203);
            box-shadow: 3px 3px 5px black;
            filter: contrast(1);
            
        }

        .brands-card img:hover {
            cursor: pointer;
            background: rgb(32, 123, 237);
        }

        .brands-card img:active {
            box-shadow: 0px 0px 0px black;
            transform: translate(3px, 3px);
        }

               
        .brands-buttons{
            
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
            /* repeat (2, 1fr) es = a 1fr 1fr */
            place-content: center;
            padding: 25px;
            justify-items: center;
            
          }

          .brands-buttons ul {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style-type: none;
          }


/* --------------------Opacitiy on brands and exceptions----------- */
        .brands-column-8 div, .brands-column-8 p {
            opacity: 0.5;
        }



        /*  
        TODO: Remove comments to add opacity to the desired button */
         #brand50, #p50
         { opacity:1; } 
        
                

/* --------------------Opacitiy on brands and exceptions----------- */




        

        

        

/* ----------------Right------------------------- */        
        .panel{
            

            width: 600px;
            height: auto;
            position:fixed;
            overflow: hidden;
            right:0px;
            top:232px;
            border-radius: 40px;
            box-shadow: 1px 1px 5px;
            border: 1px solid #000000;
            transform: translateX(100%);
            transition: transform 0.5s ease-in-out;
            z-index: 9999;
            background:  rgb(16, 79, 156);
            
        }

        .panel h1{
            font-size: 45px;
            color: white;
        }

        .extras-container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .deploy {
        transform: translateX(-5%);
        }

        .close img {
            position: absolute;
            width: 30px;
            height: 30px;
            margin-top: 20px;;
            margin-left: 25px;
            cursor: pointer;
        }

        

        #hot-news-brands{
            margin-bottom: 5px;
        }

        #hot-news-brands img{
            width: 120px;
            height: 45px;
            object-fit:contain;
            padding: 5px;
            margin-inline: 10px;
            border: solid 1px rgb(255, 255, 255);
            border-radius: 15px;
            background: rgb(117, 159, 203);
            box-shadow: 3px 3px 5px black;
            filter: contrast(1);

        }

        #hot-news-brands img:hover {
            cursor: pointer;
            background: rgb(32, 123, 237);
        }

        #hot-news-brands img:active {
            box-shadow: 0px 0px 0px black;
            transform: translate(3px, 3px);
        }

        #hot-news-brands p{
            margin-inline: 10px;
        }

        #hot-news-brands ul{
            display: flex;
            flex-direction: row;
        }

        #hot-news-brands li{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;

        }


        .extraList {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-items: center;
            
        }

        .extras {
            
            align-items: center;
            justify-content: center;
        }

       

        

        h1 {
            text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
            transform: scale(1.0); 
            filter: drop-shadow(0);
            transition: transform 1s ease-in-out;
        }

        #long-brand {
            
            color: white;
        }

        @media (max-width: 1560px) {
            #long-brand #span2 {
                display: none;
            }
            #long-brand #span1::before {
                content: "Magic Carpet";
            }
        }
        

/* ----------------Status------------------ */  

        .faqs-container {
            display: flex;
            flex-direction: column;
            
            
        }

/*------- ID is for title */
        #faqs {
            text-align: center;
            margin-bottom: 0px;
            color: white;   
            user-select: none;         
        }

        .faqs {
            display: flex;
            flex-direction: row;
            justify-content: center;
            
        }


/* ----------------Status------------------ */        
        .status-container {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
        }
/*------- ID is for title */
        #status {
            text-align: center;
            margin-bottom: 10px;
        }

        .status {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            
        }

        #faqs1, #faqs2, #faqs3, #faqs4 {
            display: flex;
            align-items: center;
            justify-content: center
        }

        #faqs1, #faqs2, #faqs3, #faqs4, #status1, #status2, #status3, #status4, #videos1, #videos2, #videos3 {
            width: 100px;
            height: 29px;
            padding: 5px;
            border: solid 1px rgb(255, 255, 255);
            border-radius: 15px;
            background:  rgba(117, 159, 203);
            box-shadow: 3px 3px 5px black;
            color: rgb(0, 0, 0);
            font-size: 25px;
            text-decoration: none;
            margin-left: 10px;
            margin-right: 10px;
            
        }

        #faqs1 img, #faqs2 img, #faqs3 img, #faqs4 img, #status1 img, #status2 img {
            width: 100px;
            height: 29px;
            object-fit:contain;
            filter: contrast(1.5);  
        }

        #status3 img {
            width: 100px;
            height: 29px;
            object-fit:cover;
            overflow:visible;
            margin-left: 0px;
            scale: 1.2;
            filter: contrast(1.5);
        }

        #status4 img {
            width: 100px;
            height: 29px;
            object-fit:contain;
            overflow:visible;
            margin-left: 0px;
            text-decoration: none;
            filter: contrast(1.5);
            scale: 1.2;
        }

        #videos1 img, #videos2 img, #videos3 img {
            width: 100px;
            height: 29px;
            object-fit:cover;
            overflow:visible;
            text-decoration: none;
            filter: contrast(1.5);
        }

        #videos1 img, #videos2 img {
            scale: 0.48;
        }

        #videos3 img {
            scale: 0.7;
        }



        #faqs1:hover, #faqs2:hover, #faqs3:hover, #faqs4:hover, #status1:hover, #status2:hover, #status3:hover, #status4:hover, #videos1:hover, #videos2:hover, #videos3:hover {
            cursor: pointer;
            background: rgb(32, 123, 237);
        }

        #faqs1:active, #faqs2:active, #faqs3:active, #faqs4:active, #status1:active, #status2:active, #status3:active, #status4:active, #videos1:active, #videos2:active, #videos3:active {
            box-shadow: 0px 0px 0px black;
            transform: translate(3px, 3px);
        }


/* ----------------VIDEOS------------------ */
        .videos-container {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-bottom: 20px;
        }

/*------- ID is for title */
        #videos {
            text-align: center;
            margin-bottom: 10px;
        }

        .videos {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
        }

        

        
/* ----------------pop up info------------------------ */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    background-color: rgb(20, 78, 150);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(185, 185, 185);
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    /* Style for the hover effect */
    transition: background-color 0.3s ease;
}

.popup button:hover {
    background-color: rgb(32, 123, 237);
}

.popup buttonClose {
    padding: 4px 10px;
    position:absolute;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(241, 57, 57);
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    /* Style for the hover effect */
    transition: background-color 0.3s ease;
}

.blur {
    filter: blur(5px) brightness(0.5);
    transition: filter 0.5s ease-in-out;
    
}

/* ---------------------------------------- */
        a:-webkit-any-link {
            text-decoration: none !important;
            list-style-type: none !important;
        }

        .extra ul li a {
            list-style-type: none !important;
            text-decoration: none !important;
        }

        ul {
            list-style-type: none !important;
            text-decoration: none !important;
        }

        .wrapper {
            position: fixed;
            inset: 0;
            z-index: 9999;
            background-color: #fff;
            display: grid;
            place-items: center;
            transition: opacity 0.25s, visibility 1s;
        }
        
        .fade {
            opacity: 0;
            visibility: hidden;
        
        }

/* ----------------social icons not displayed------------------------------- */

        .social-icons {
            width: 100%;
            height: 100%;
            display: none;
            
        }

        .social-icons img {
            width: 80px;
            padding: 3px;
            filter: saturate(0%) brightness(100%); 
             
        }

        .social-icons img:hover {
            filter: saturate(100%) brightness(150%);  
        }
        
        .social1:hover{
            transition: all 0.5s ease-in;
            margin-right: 20px;
        }

        .social2:hover{
            transition: all 0.5s ease-in;
            margin-right: 20px;
        }

        .social3:hover{
            transition: all 0.5s ease-in;
            margin-left: 20px;
        }

        .social4:hover{
            transition: all 0.5s ease-in;
            margin-left: 20px;
        }

       
       